@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

.backgroundContainer {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  margin-top: 0;
  background: -moz-radial-gradient(
    circle at 3% 25%,
    rgba(49, 51, 78, 1) 0%,
    rgba(10, 10, 16, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle at 3% 25%,
    rgba(49, 51, 78, 1) 0%,
    rgba(10, 10, 16, 1) 100%
  );
  background: -o-radial-gradient(
    circle at 3% 25%,
    rgba(49, 51, 78, 1) 0%,
    rgba(10, 10, 16, 1) 100%
  );
  background: -ms-radial-gradient(
    circle at 3% 25%,
    rgba(49, 51, 78, 1) 0%,
    rgba(10, 10, 16, 1) 100%
  );
  background: radial-gradient(
    circle at 3% 25%,
    rgba(49, 51, 78, 1) 0%,
    rgba(10, 10, 16, 1) 100%
  );
}

.aboutText {
  margin: 0;
  color: #fff;
  font-family: "Manrope";
  font-size: 2rem;
  font-weight: 300;
}

.backArrow {
  margin: 0;
  color: #fff;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem 0 2rem;
}

.image {
    width: 50px;
    height: 50px;
}

.cardContainerLeftJustify {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 5rem 0 6.5rem;
}

.cardImage {
    width: 250px;
    height: 250px;
}

.imageContainer {
    margin-right: 6.5rem;
}

.subjectHeading {
    font-size: 3rem;
    font-weight: 600;
    font-family: "Manrope";
    font-style: normal;
    letter-spacing: 1px;
    margin: 0 0 1.5rem 0;
    background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 60px;
}

.contentContainer {
    margin-top: 2rem;
}

.contentText {
    font-size: 1rem;
    font-weight: 300;
    font-family: "Manrope";
    font-style: normal;
    color: #fff;
    margin: 0;
    letter-spacing: 1px;
    line-height: 26.08px;
}

.firstLetterContent {
    font-size: 1.5rem;
    margin-right: 0.1rem;
}